*{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
}

.open-side-bar, .actions ul{
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.open-side-bar img{
    width: 105px;
    height: 100%;
}

.search-bar{
    display: flex;
    min-height: 70%;
    width: 45%;
    column-gap: 10px;
}

.input-wrapper{
    display: flex;
    width: 90%;
    border: 1px solid #e5e5e5;
}

.input-wrapper .search-input{
    height: 100%;
    width: 85%;
    border: none;
    padding-left: 15px;
}

.input-wrapper i{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    border-left: 1px solid #d1d1d1;
}

.voice-search{
    background-color: #F8F8F8;
    padding: 7px 14px;
    border-radius: 50%;
}

.actions .profile-image{
    border-radius: 50%;
    width: 32px;
}


/* MAIN --------------------------  */

.side-bar{
    overflow: scroll;
    height: 100vh;
}

.main-container{
    padding: 0;
}

.categories-wrapper{
    display: flex;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    background-color: white;
    position: relative;
}

.play-list-wrapper::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #E5E5E5;
}

.play-list{
    column-gap: 15px;
    justify-content: center;
}

.play-list-item{
    margin-bottom: 50px;
    width: 240px;
}

.menu-item img{
    margin: auto;
}

/* Mediaqueries ---------------- */

@media screen and (min-width: 801px) and (max-width: 1330px){

    .side-bar{
        width: 70px;
        overflow: hidden;
    }

    .iscrizioni, .altro, .settings, .cronologia, .my-videos, .watch-later{
        display: none;
    }

    .widget{
        border-bottom: none;
        padding: 0;
    }

    .menu-item > div:nth-child(2){
        display: none;
    }

    .menu-item{
        padding: 10px 0;
    }

    .menu-item .icon{
        margin-right: 0;
    }
}

@media screen and (max-width: 800px){
    .side-bar{
        display: none;
    }
}

@media screen and (min-width: 800px) and (max-width: 1139px){
    .play-list-item{
        width: 32%;
    }
}

@media screen and (min-width: 510px) and (max-width: 799px){
    .play-list-item{
        width: 48%;
    }
}

@media screen and (max-width: 509px){
    .play-list-item{
        width: 98%;
    }
}



/* DEBUG */

/* header{
    border: 2px solid red;
}

main{
    border: 2px dashed black;
}

.side-bar{
    border: 2px solid orange;
}

.main-container{
    border: 2px solid blue;
} */


/* .open-side-bar, .search-bar{
    border: 2px solid yellowgreen;
} */